<!doctype html>

<title>Stegnography</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="page-header">
	  <h1>SteganoGraphy <small> - concealing messages or information within other data</small></h1>
	</div>
  </div>
</nav>

<br><br><br><br><br><br><br>

{% block body %}{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    Copyright © k2a.in 2015. All Rights Reserved.
  </div>
</nav>